<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>My Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="index.html">Fata Nugraha</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/myprojects">My Projects</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/myresume">My Resume</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/hireme">Hire me</a>
                    </li>
                </ul>
        </div>
        </div>
    </nav>
    <main class="page projets-page">
        <section class="portfolio-block project-no-images">
            <div class="container">
                <div class="heading">
                    <h2>Recent Work</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>Document Management System</h3>
                            <h4>Website for storing and sharing documents. Also include digital signatures, image encoding, and encryption systems to secure data</h4>
                            <a class="btn btn-outline-primary btn-sm" role="button" href="https://github.com/fata-nugraha/DMS-Backend" target="_blank">See More</a>
                            <div class="tags"><a>PHP - Lumen</a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>fata.tech<br></h3>
                            <h4>My personal website, with OCR Linebot, GSheet API integration, and Cloud Pub/Sub<br>Deployed at Google App Engine<br>Built with Bootstrap Studio</h4><a class="btn btn-outline-primary btn-sm" role="button" href="https://github.com/fata-nugraha/fata.tech" target="_blank">See More</a>
                            <div class="tags"><a>Python - Flask</a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>Engima</h3>
                            <h4>A website for ordering cinema tickets online, made with REST and SOAP style API, and deployed at AWS EC2 Instance</h4>
                            <a class="btn btn-outline-primary btn-sm" role="button" href="https://github.com/fata-nugraha?tab=projects" target="_blank">See More</a>
                            <div class="tags"><a>PHP, Java, JavaScript</a></div>
                        </div>
                    </div>
                </div>
                <p class="fulllist">See the full list at my&nbsp;<a href="https://github.com/fata-nugraha" target="_blank">GitHub</a></p>
            </div>
        </section>
    </main>
    <footer class="page-footer gradient">
        <div class="container">
            <div class="social-icons">
                <a href="mailto:ftnfata@gmail.com" target="_blank">
                    <i class="icon ion-email"></i>
                </a>
                <a href="https://github.com/fata-nugraha" target="_blank">
                    <i class="icon ion-social-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/fata-nugraha/" target="_blank">
                    <i class="icon ion-social-linkedin"></i>
                </a>
            </div>
            <div class="links">
                <p>Fata Nugraha - 2020</p>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/theme.js') }}"></script>
</body>

</html>